:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .message {
      height: 100%;
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1em;

      h1 {
        font-size: 2em;
        text-align: center;
        padding: 0.1em;
      }

      .img {
        max-width: 25%;

        img {
          border-radius: 50%;
          width: 100%;
        }
      }

      audio {
        width: 80%;
      }
    }
  }
}

.float-right {
  position: absolute;
  right: 1em;
  top: 1em;
  font-size: 2em;

  &.float-bottom {
    z-index: 2;
    top: unset;
    bottom: 1em;
  }
}

.toggle-link {
  position: absolute;
  top: 1em;
  left: 1em;
  font-size: 2em;

  a:visited {
    color: unset;
  }
}
