<div class="container" [class.active]="active">
  <audio #audio [autoplay]="active" loop src="assets/sound/hairdryer{{alternative ? '-alternative' : ''}}.mp3">
  </audio>
  <div class="drawing" (click)="onClick($event)">
    <div class="hairdryer" [class.alternative]="alternative">
      <div class="handle"></div>
      <div class="barrel">
        <span></span>
      </div>
      <div class="air">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="person">
      <div class="hair"></div>
      <div class="shirt"></div>
      <div class="neck"></div>
      <div class="face">
        <div class="eye"></div>
        <div class="eye"></div>
        <div class="nose"></div>
        <div class="cheek"></div>
        <div class="cheek"></div>
        <div class="mouth">
          <div class="tongue"></div>
        </div>
      </div>
      <div class="bangs"></div>
    </div>
  </div>
  <div class="selector">
    <span class="circle"></span>
    <p-inputSwitch [(ngModel)]="alternative"></p-inputSwitch>
    <span class="circle alternative"></span>
  </div>
</div>
