<div class="container" [class.active]="active" (click)="onClick()">
  <audio #audio src="assets/sound/hairdryer.mp3" autoplay></audio>
  <div class="drawing">
    <div class="hairdryer">
      <div class="handle"></div>
      <div class="barrel">
        <span></span>
      </div>
      <div class="air">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="person">
      <div class="hair"></div>
      <div class="shirt"></div>
      <div class="neck"></div>
      <div class="face">
        <div class="eye"></div>
        <div class="eye"></div>
        <div class="nose"></div>
        <div class="cheek"></div>
        <div class="cheek"></div>
        <div class="mouth">
          <div class="tongue"></div>
        </div>
      </div>
      <div class="bangs"></div>
    </div>
  </div>
</div>