<div class="container">
  <h1 translate="app.config.title"></h1>


  <div class="configuration">
    <app-language-selector></app-language-selector>

    <div class="login-button" *ngIf="auth.user | async as user; else showLogin">
      <button pButton type="button" label="{{ 'app.config.logout' | translate }}" class="p-button-outlined"
        (click)="logout()"></button>
    </div>
    <ng-template #showLogin>
      <button pButton type="button" label="{{ 'app.config.login' | translate }}" class="p-button-outlined"
        (click)="login()"></button>
    </ng-template>
  </div>
</div>


<div class="home-link">
  <span class="mdi mdi-clock" routerLink="/"></span>
</div>
