<div class="container">
  <h1 translate="app.config.title"></h1>


  <div class="configuration">
    <div class="p-field p-col-12 p-md-12">
      <span class="p-float-label">
        <p-dropdown inputId="shield" name="shield" [options]="shields" optionValue="value"
          [ngModel]="currentShield.value" (ngModelChange)="onShieldChange($event)">
          <ng-template pTemplate="selectedItem">
            <div translate="{{currentShield.key}}"></div>
          </ng-template>
          <ng-template let-shield pTemplate="item">
            <b translate="{{shield.key}}"></b>
          </ng-template>
        </p-dropdown>
        <label for="shield">{{'app.config.shield'|translate}}</label>
      </span>
    </div>

    <app-language-selector></app-language-selector>

    <div class="login-button" *ngIf="auth.user | async as user; else showLogin">
      <button pButton type="button" label="{{ 'app.config.logout' | translate }}" class="p-button-outlined"
        (click)="logout()"></button>
    </div>
    <ng-template #showLogin>
      <button pButton type="button" label="{{ 'app.config.login' | translate }}" class="p-button-outlined"
        (click)="login()"></button>
    </ng-template>

    <div class="update-button" *ngIf="updateAvailable |async">
      <button pButton type="button" label="{{ 'app.config.update' | translate }}" class="p-button-outlined"
        (click)="updateApplication()"></button>
    </div>
  </div>
</div>


<div class="home-link">
  <span class="mdi mdi-clock" routerLink="/"></span>
</div>
