<div class="p-field p-col-12 p-md-12">
  <span class="p-float-label">
    <p-dropdown inputId="language" name="language" [options]="languages" optionValue="code"
      [ngModel]="currentLanguage.code" (ngModelChange)="onLanguageChange($event)">
      <ng-template pTemplate="selectedItem">
        <div translate="app.languages.{{currentLanguage.code}}"></div>
      </ng-template>
      <ng-template let-language pTemplate="item">
        <b translate="app.languages.{{language.code}}"></b>&nbsp;<flag-icon [country]="language.flag" squared>
        </flag-icon>
      </ng-template>
    </p-dropdown>
    <label for="language">{{'app.config.language'|translate}}</label>
  </span>
</div>
