:host {
  height: 100%;
  width: 100%;

  .container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #202020, #111119);

    .rain {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .rain.back-row {
      display: block;
      z-index: -1;
      bottom: 60px;
      opacity: 0.5;
    }

    .images {
      height: calc(100% - 10em);
      width: calc(100% - 5em);
      z-index: -3;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;

      .bench {
        margin-left: 3em;
        width: 40%;
        filter: opacity(0.8) grayscale(0.35) brightness(0.5);
      }

      .umbrella {
        width: 15%;
        filter: opacity(0.8) grayscale(0.35) brightness(0.5);
      }
    }
  }
}
