<div class="icon">
  <div class="taxi">
    <div class="road">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="shape">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div class="taxi-name">TAXI</div>
    </div>
  </div>
</div>
<audio src="assets/sound/7e141f42996ea15e36236d7c795b008f.mp3" autoplay></audio>
