:host {
  height: 100%;
  width: 100%;
  overflow: hidden;

  main {
    height: calc(100% - 10vh);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
  }

  .float-right {
    position: absolute;
    right: 1em;
    top: 1em;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 10vh;
    line-height: 10vh;
    text-align: center;
  }
}
