<div class="container">
    <div class="night">
        <div class="stars">
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
        </div>
    </div>
    <div class="message">
        <h1 [translate]="'app.landing.ready-banner'"></h1>
        <div class="img">
            <img src="assets/img/moon.jpg" alt="Happy moon">
        </div>
        <audio controls autoplay>
            <source src="assets/sound/fly.me-to-the-moon.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
</div>