<div class="container">
  <div class="cake">
    <div class="plate"></div>
    <div class="layer layer-bottom"></div>
    <div class="layer layer-middle"></div>
    <div class="layer layer-top"></div>
    <div class="icing"></div>
    <div class="drip drip1"></div>
    <div class="drip drip2"></div>
    <div class="drip drip3"></div>
    <div class="candle">
      <div class="flame"></div>
    </div>
  </div>
  <div class="fruits"
    style="width: 100px; height: 100px; position: absolute; top: 50%; left: 50%; z-index: 2; font-size: .75em; transform: translate(-50%, -50%);">
    <div class="orange" style="transform: translate(-2.75em, -6em);"></div>
    <div class="lemon" style="transform: translate(4.5em, -6em);"></div>
    <div class="raspberry-container" style="transform: translate(8em, -3em);">
      <div class="berry raspberry"></div>
      <div class="berry-ball berry-ball1 raspberry-ball">
      </div>
      <div class="berry-ball berry-ball2 raspberry-ball">
      </div>
      <div class="berry-ball berry-ball3 raspberry-ball">
      </div>
      <div class="berry-ball berry-ball4 raspberry-ball">
      </div>
      <div class="berry-ball berry-ball5 raspberry-ball">
      </div>
      <div class="berry-ball berry-ball6 raspberry-ball">
      </div>
      <div class="berry-ball berry-ball7 raspberry-ball">
      </div>
      <div class="berry-ball berry-ball8 raspberry-ball">
      </div>
      <div class="leaf-up raspberry-leaf-up "></div>
      <div class="leaf-down raspberry-leaf-down"></div>
    </div>
    <div class="blackberry-container" style="transform: translate(-7em, -3em);">
      <div class="berry blackberry"></div>
      <div class="berry-ball berry-ball1 blackberry-ball">
      </div>
      <div class="berry-ball berry-ball2 blackberry-ball">
      </div>
      <div class="berry-ball berry-ball3 blackberry-ball">
      </div>
      <div class="berry-ball berry-ball4 blackberry-ball">
      </div>
      <div class="berry-ball berry-ball5 blackberry-ball">
      </div>
      <div class="berry-ball berry-ball6 blackberry-ball">
      </div>
      <div class="berry-ball berry-ball7 blackberry-ball">
      </div>
      <div class="berry-ball berry-ball8 blackberry-ball">
      </div>
      <div class="leaf-up raspberry-leaf-up "></div>
      <div class="leaf-down raspberry-leaf-down"></div>
    </div>
    <div class="cherry-container" style="font-size: .75em; transform: translate(8em, -0.5em);">
      <div class="cherry cherry1"></div>
      <div class="cherry cherry2"></div>
      <div class="cherry-join"></div>
    </div>
    <div class="cherry-container" style="font-size: .75em; transform: translate(-4em, -0.5em);">
      <div class="cherry cherry1"></div>
      <div class="cherry cherry2"></div>
      <div class="cherry-join"></div>
    </div>
    <div class="cherry-container" style="font-size: .75em; transform: translate(2em, 1.5em);">
      <div class="cherry cherry1"></div>
      <div class="cherry cherry2"></div>
      <div class="cherry-join"></div>
    </div>
  </div>
  <audio src="assets/sound/message.mp3" autoplay></audio>
</div>
