$vanilla: #f0e4d0;
$chocolate: #553c13;

.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background-color: #333;
}

@mixin foodColoring($color) {
  background-color: $color;
  box-shadow: 0 2px 0px lighten($color, 5%), 0 4px 0px darken($color, 8.2%),
    0 6px 0px darken($color, 8.4%), 0 8px 0px darken($color, 8.6%),
    0 10px 0px darken($color, 8.8%), 0 0.75em 0px darken($color, 9%),
    0 0.875em 0px darken($color, 9.2%), 0 1em 0px darken($color, 9.4%),
    0 1.125em 0px darken($color, 9.6%), 0 1.25em 0px darken($color, 9.8%),
    0 1.375em 0px darken($color, 10%), 0 1.5em 0px darken($color, 10.2%),
    0 1.625em 0px darken($color, 10.4%), 0 1.75em 0px darken($color, 10.6%),
    0 1.875em 0px darken($color, 10.8%);
}

.cake {
  position: absolute;
  width: 15.625em;
  height: 12.5em;
  top: 50%;
  left: 50%;
  margin-top: -4.375em;
  margin-left: -7.8125em;
}

.plate {
  width: 16.875em;
  height: 6.875em;
  position: absolute;
  bottom: -10px;
  left: -10px;
  background-color: #ccc;
  border-radius: 50%;
  box-shadow: 0 2px 0 darken(#ccc, 10%), 0 4px 0 darken(#ccc, 10%),
    0 5px 2.5em rgba(black, 0.5);
}

.cake > * {
  position: absolute;
}

.layer {
  position: absolute;
  display: block;
  width: 15.625em;
  height: 6.25em;
  border-radius: 50%;
  @include foodColoring($chocolate);
}

.layer-top {
  top: 0px;
}
.layer-middle {
  top: 2.0625em;
}
.layer-bottom {
  top: 4.125em;
}

.icing {
  top: 2px;
  left: 5px;
  background-color: $vanilla;
  width: 15em;
  height: 5.625em;
  border-radius: 50%;
  &:before {
    content: "";
    position: absolute;
    top: 4px;
    right: 5px;
    bottom: 6px;
    left: 5px;
    background-color: lighten($vanilla, 3%);
    box-shadow: 0 0 4px lighten($vanilla, 5%), 0 0 4px lighten($vanilla, 5%),
      0 0 4px lighten($vanilla, 5%);
    border-radius: 50%;
    z-index: 1;
  }
}

.drip {
  display: block;
  width: 3.125em;
  height: 3.75em;
  border-bottom-left-radius: 1.5625em;
  border-bottom-right-radius: 1.5625em;
  background-color: $vanilla;
}

.drip1 {
  top: 3.3125em;
  left: 5px;
  transform: skewY(15deg);
  height: 3em;
  width: 2.5em;
}

.drip2 {
  top: 4.3125em;
  left: 11.3125em;
  transform: skewY(-15deg);
}

.drip3 {
  top: 3.375em;
  left: 5.625em;
  width: 5em;
  border-bottom-left-radius: 2.5em;
  border-bottom-right-radius: 2.5em;
}

.candle {
  background-color: #7b020b;
  width: 1em;
  height: 3.125em;
  border-radius: 8px / 4px;
  top: -1.25em;
  left: 50%;
  margin-left: -8px;
  z-index: 10;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 8px;
    border-radius: 50%;
    background-color: lighten(#7b020b, 10%);
  }
}

.flame {
  position: absolute;
  background-color: orange;
  width: 0.9375em;
  height: 2.1875em;
  border-radius: 10px 10px 10px 10px / 1.5625em 1.5625em 10px 10px;
  top: -2.125em;
  left: 50%;
  margin-left: -7.5px;
  z-index: 10;
  box-shadow: 0 0 10px rgba(orange, 0.5), 0 0 1.25em rgba(orange, 0.5),
    0 0 3.75em rgba(orange, 0.5), 0 0 5em rgba(orange, 0.5);
  transform-origin: 50% 90%;
  animation: flicker 1s ease-in-out alternate infinite;
}

@keyframes flicker {
  0% {
    transform: skewX(5deg);
    box-shadow: 0 0 10px rgba(orange, 0.2), 0 0 1.25em rgba(orange, 0.2),
      0 0 3.75em rgba(orange, 0.2), 0 0 5em rgba(orange, 0.2);
  }
  25% {
    transform: skewX(-5deg);
    box-shadow: 0 0 10px rgba(orange, 0.5), 0 0 1.25em rgba(orange, 0.5),
      0 0 3.75em rgba(orange, 0.5), 0 0 5em rgba(orange, 0.5);
  }
  50% {
    transform: skewX(10deg);
    box-shadow: 0 0 10px rgba(orange, 0.3), 0 0 1.25em rgba(orange, 0.3),
      0 0 3.75em rgba(orange, 0.3), 0 0 5em rgba(orange, 0.3);
  }
  75% {
    transform: skewX(-10deg);
    box-shadow: 0 0 10px rgba(orange, 0.4), 0 0 1.25em rgba(orange, 0.4),
      0 0 3.75em rgba(orange, 0.4), 0 0 5em rgba(orange, 0.4);
  }
  100% {
    transform: skewX(5deg);
    box-shadow: 0 0 10px rgba(orange, 0.5), 0 0 1.25em rgba(orange, 0.5),
      0 0 3.75em rgba(orange, 0.5), 0 0 5em rgba(orange, 0.5);
  }
}

/*for make some fruits I base on code https://codepen.io/munkholm/pen/twuiD
these fruits was used in the project when user can mix his-her own contail https://justynabie.github.io/iFruity/ */
.apple {
  width: 6em;
  height: 5em;
  background-color: #ff4355;
  box-shadow: inset 0.2em -0.2em #cc1022;
  border-radius: 2em 2em 3em 3em;
  position: absolute;
  top: 1em;
  left: 0.3em;
}

.apple:before {
  top: -0.2em;
  left: 1.8em;
  content: "";
  width: 4.1em;
  height: 2.75em;
  background-color: inherit;
  border-radius: 3em 3em 0 0;
  position: absolute;
  box-shadow: -1.5em 0 0 #ff4355, inset 0.2em 0.2em #ff4355;
}

.apple:after {
  content: "";
  width: 0.2em;
  height: 1em;
  background-color: brown;
  position: absolute;
  z-index: 2;
  top: -0.5em;
  left: 3em;
}

.orange {
  width: 5.6em;
  height: 5.6em;
  border-radius: 50%;
  background-color: #ffb526;
  box-shadow: inset 0.2em -0.2em #cc8a0c;
  position: absolute;
  top: 0.9em;
  left: 0.3em;
}

.orange:before {
  content: "";
  position: absolute;
  top: -1em;
  left: 3em;
  height: 0;
  width: 0;
  border: 1em solid #539e3d;
  border-radius: 50% 0 50% 0;
  border-bottom-color: #437512;
  border-right-color: #437512;
}

.banana {
  width: 6em;
  height: 6em;
  background-color: transparent;
  box-shadow: -1.1em 1.1em 0 0 #fcd110;
  border-radius: 50%;
  position: absolute;
  top: -0.9em;
  left: 1.6em;
}

.banana:before {
  content: "";
  width: 0.3em;
  height: 0.3em;
  transform: rotate(45deg);
  background-color: #937714;
  position: absolute;
  top: 5.4em;
  left: 4.3em;
  z-index: 1;
}

.banana:after {
  content: "";
  width: 0.4em;
  height: 0.8em;
  transform: rotate(31deg);
  background-color: #b3bb03;
  position: absolute;
  top: 1.1em;
  left: 0.2em;
  z-index: 1;
}

.banana-line {
  width: 5.5em;
  height: 5.8em;
  background-color: transparent;
  box-shadow: -0.4em 0.4em 0 0 #ffe23c;
  border-radius: 50%;
  position: absolute;
  top: -0.7em;
  left: 1.7em;
  transform: rotate(-4deg);
}

.lemon {
  width: 5.1em;
  height: 5.1em;
  margin: 0.8em;
  background-color: #ffe135;
  border-radius: 50% 15%;
  box-shadow: inset 0.2em 0.2em #ccb42a;
  transform: rotate(225deg);
  position: absolute;
}

.pear {
  width: 5.4em;
  height: 5.4em;
  margin-top: 1.2em;
  background-color: #d7c322;
  border-radius: 50% 15% 50% 50%;
  transform: rotate(-45deg);
  box-shadow: inset 0.15em 0.25em #c3b11f;
  position: absolute;
  left: 0.6em;
}

.pear:after {
  content: "";
  width: 0.2em;
  height: 1em;
  background-color: brown;
  position: absolute;
  z-index: 2;
  top: -0.2em;
  left: 5.1em;
  transform: rotate(45deg);
}

.strawberry {
  width: 5em;
  height: 5em;
  margin-top: 0.7em;
  background-color: #ed2607;
  border-radius: 50% 15% 50% 50%;
  transform: rotate(135deg);
  box-shadow: inset -0.15em -0.25em #c62106;
  position: absolute;
  left: 0.6em;
}

.strawberry:before {
  content: "";
  position: absolute;
  top: 3.5em;
  left: 2em;
  width: 0.3em;
  height: 0.3em;
  background-color: white;
  border-radius: 50%;
  box-shadow: 1.7em 0 0 0 white, -1em -2.8em 0 0 white, 2.5em -1.5em 0 0 white,
    2em -2.5em 0 0 white, 0.75em -1.5em 0 0 white, -1em -1em 0 0 white,
    0.8em -3.2em 0 0 white;
}

.leaf-up {
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 1.5em solid #539e3d;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-top: 0 solid transparent;
}

.strawberry-leaf-up {
  top: 0.3em;
  left: 2.3em;
}

.leaf-down {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 1.5em solid #539e3d;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: 0 solid transparent;
}

.strawberry-leaf-down {
  top: 0.8em;
  left: 2.3em;
}

.blueberry {
  position: absolute;
  width: 6em;
  height: 5.5em;
  top: 0.6em;
  left: 0.4em;
  border-radius: 50%;
  background-color: #89a2ca;
  box-shadow: inset 0.2em -0.2em #6081b8;
}

.blueberry:before {
  content: "";
  width: 2em;
  height: 1em;
  left: 2em;
  position: absolute;
  background-color: #3e4d64;
  border-radius: 50%;
}

.peach {
  width: 6em;
  height: 5em;
  background-color: #fca049;
  box-shadow: inset 0.2em -0.2em #c9803a;
  border-radius: 2.5em 2.5em 3em 3em;
  position: absolute;
  top: 1.3em;
  left: 0.3em;
}

.peach:before {
  content: "";
  position: absolute;
  top: -1.7em;
  left: 3em;
  height: 0;
  width: 0;
  border: 1em solid #539e3d;
  border-radius: 50% 0 50% 0;
  border-bottom-color: #437512;
  border-right-color: #437512;
}

.cherry {
  width: 3em;
  height: 2.5em;
  background-color: #c20e2b;
  box-shadow: inset 0.2em -0.2em #9b0b22;
  border-radius: 2.5em 2.5em 4em 4em;
  position: absolute;
}

.cherry1 {
  top: 3em;
  left: 0.2em;
  transform: rotate(15deg);
}

.cherry2 {
  top: 3em;
  left: 3.4em;
  transform: rotate(-15deg);
}

.cherry1:before {
  content: "";
  width: 1em;
  height: 2.8em;
  background-color: transparent;
  box-shadow: 0.2em -0.1em 0 0 #539e3d;
  border-radius: 50%;
  position: absolute;
  top: -2.6em;
  left: 1em;
  transform: rotate(19deg);
}

.cherry2:before {
  content: "";
  width: 1em;
  height: 2.8em;
  background-color: transparent;
  box-shadow: 0.2em -0.1em 0 0 #539e3d;
  border-radius: 50%;
  position: absolute;
  top: -2.5em;
  left: 0.5em;
  transform: rotate(-12deg);
}

.cherry-join {
  width: 0.7em;
  height: 0.4em;
  top: 0.6em;
  left: 3.1em;
  position: absolute;
  background-color: #724126;
  border-radius: 20%;
  transform: rotate(-12deg);
}

.berry {
  width: 1.7em;
  height: 3.5em;
  border-radius: 10% 10% 50% 50%;
  position: absolute;
  left: 2.5em;
  top: 1.1em;
  z-index: 1;
}

.raspberry {
  background-color: #d33653;
  border-left: 0.3em solid #d33653;
  border-right: 0.3em solid #d33653;
}

.berry-ball {
  width: 1.3em;
  height: 1.3em;
  position: absolute;
  border-radius: 50%;
}

.berry-ball1 {
  top: 4.1em;
  left: 2.6em;
}

.berry-ball2 {
  top: 4.1em;
  left: 3.4em;
}

.berry-ball3 {
  top: 3.4em;
  left: 2.1em;
}

.berry-ball4 {
  top: 3.4em;
  left: 3.8em;
}

.berry-ball5 {
  top: 2.4em;
  left: 1.8em;
}

.berry-ball6 {
  top: 2.4em;
  left: 4.1em;
}

.berry-ball7 {
  top: 1.5em;
  left: 2em;
}

.berry-ball8 {
  top: 1.5em;
  left: 3.9em;
}

.raspberry-leaf-up {
  top: 0.5em;
  left: 2.6em;
  z-index: 2;
}

.raspberry-leaf-down {
  top: 1em;
  left: 2.6em;
  z-index: 2;
}

.raspberry-ball:nth-child(2n + 0) {
  box-shadow: inset 0.1em -0.1em #a82b42;
}

.raspberry-ball {
  background-color: #d33653;
}

.blackberry-ball,
.blackberry {
  background-color: #5d46a0;
}

.blackberry {
  border-left: 0.3em solid #5d46a0;
  border-right: 0.3em solid #5d46a0;
}

.blackberry-ball:nth-child(2n + 0) {
  box-shadow: inset 0.1em -0.1em #3d2475;
}

.yoghurt {
  width: 2.5em;
  height: 4em;
  top: 2.2em;
  left: 1em;
  position: absolute;
  border: 0.1em solid black;
}

.yoghurt p {
  font-size: 0.7em;
  text-align: center;
}

.yoghurt:after {
  content: "";
  width: 0.8em;
  height: 4em;
  top: -0.5em;
  left: 2.5em;
  position: absolute;
  border: 0.1em solid black;
  transform: skewY(-45deg);
}

.upper-part {
  width: 1.2em;
  height: 1.8em;
  top: 0.2em;
  left: 2.7em;
  position: absolute;
  border: 0.1em solid black;
  transform: rotate(-45deg);
}

.upper-part:before {
  content: "";
  width: 0em;
  height: 1.9em;
  top: -1em;
  left: -1em;
  position: absolute;
  border-right: 0.1em solid black;
  transform: rotate(90deg);
}
